<div class="add-track__overlay"></div>
    <div class='add-track-section' >
        <h1 class="add-track__heading">In die Playlist...</h1>
        <%= render 'tracks/form', track: Track.new %>
    </div>