<h2>Chat</h2>
                <%= link_to "add member", new_servers_user_path(:server_id => @server.id) %>
                <%= @server.name %>
                
                <div id='server-messages'>
                    <% @server.chatmessages.each do |message| %>
                        <%= render 'chatmessages/message' , message: message %>
                    <% end %>
                </div>

                <%= render 'chatmessages/form', chatmessage: Chatmessage.new %>