<div class='home'>
    <div class='home__card'>
        <h1 class='home__heading'>Hello <%= current_user.name %>, welcome to youradio</h1>
        <p class='home__paragraph'>We are happy that you chose to use youradio. Youradio is place for you and your friends, that lets your friendgroup create a relatime-playlist. Just add a track to the playlist and use the chat to discuss the current sounds. Lets go!</p>
    </div>  
    <div class='home__card'>
        <h2 class='home__sub-heading'>Getting started!</h2>
        <p class='home__paragraph'>Start by adding a new server for you and your friends. To do this just click on the button at the bottom left. After creating your first server just add your friens to it, by clicking on the "add-member icon" at the top right. And you are ready to go!
        If your friends already own a server, they can just add you the same way! You can see your new server on the left side in the server-bar. Yeah!</p>
    </div>  
    <div class='home__card'>
        <h2 class='home__sub-heading'>Create a playlist!</h2>
        <p class='home__paragraph'>You have successfully created your frist server. Nice! So lets create a playlist. After navigating to your server you can click the plus button at the musicbar at the bottom of the site.
        Now just add a youtube-link and you are good to go! If you want to chat with your friends just type in the chat an go. Thats it! Enjoy your youradio expirience :)</p>
    </div>  
</div>