<div class="musicbar">

    <div class="musicbar__title-cover">
        <div class="musicbar__cover"><i class="musicbar__icon fas fa-music"></i></div>
        <div class="musicbar__titel">
            <div id='marquee'>
                <div class="musicbar__titel-now">Interpret-Titel</div>
            </div>
            <div class="musicbar__titel-next">-next: Interpret-Titel</div>
        </div>
    </div>

    <div class="musicbar__main">
        <div class="musicbar__buttons">
            <button class="musicbar__speach"><i class="fas fa-microphone-alt"></i></button>
            <button class="musicbar__link"><i class="fas fa-plus fa-lg"></i></button>
            <button class="musicbar__search"><i class="fas fa-search"></i></button>
        </div>

        <div class="musicbar__bar">
            <div class="musicbar__runtime">0.54</div>
            <div class="musicbar__run"></div>
            <div class="musicbar__end"></div>
            <div class="musicbar__endtime">3.23</div>
        </div>
    </div>

    <div class="musicbar__sound">
        <i class="fas fa-volume-up"></i>
        <div class="musicbar__soundnow"></div>
        <div class="musicbar__soundmax"></div>
    </div>
</div>


