<div class='playlist'>
    <button class="playlist__name">Playlistname<i class="server-leiste__home-icon fas fa-arrow-down"></i></button>
    <ul class='playlist__tracklist'>
        <li class="playlist__name"><%= @server.try(:name) %><i class="server-leiste__home-icon fas fa-arrow-down"></i></li>
    </ul>
</div>