<div class='playlist'>
    <div class="playlist__name"><span class="playlist__helper"><%= @server.try(:name) %></span></div>
    <div class="playlist__main"><i class="playlist__icon fas fa-list-ul"></i>Playlist</div>
    <ul class='playlist__tracklist'>
    </ul>
</div>

