<div class='playlist'>
    <div class="playlist__name"><span class="playlist__helper"><%= link_to @server.try(:name), edit_server_path(@server.id) %></span></div>
    <div class="playlist__main"><i class="playlist__icon fas fa-list"></i>Playlist</div>
    <ul class='playlist__tracklist'>
    </ul>
</div>

