 <div class='servers-stem'>
            <h1>Servers</h1>

            <div class="servers_list">
                <% @servers.each do |server| %>

                <div class="server-link">
                    <%= link_to server.name, server_path(server.id), method: :get %>
                </div>
                <% end %>
                <%= link_to "+", new_server_path, class: "create-server" %>
            </div>
        </div>