<div class='topbar'>
    <div>
        <% if current_user.profilepic.attached? %>
            <div><%= image_tag(url_for(current_user.profilepic)) %></div>
            <span><%= current_user.name %></span>
        <% else %>
            <div><%= image_tag("default_pp.png")%></div>
            <span><%= current_user.name %></span>
        <% end %>
    </div>
</div>