/* ---- colors ---- */

$color-background-playbar: #1C1C1C;
$color-background-chat: #20262A;
$color-background-playlist: #384750;
$color-username: #26849A;
$color-click: #A9DBA8;
$color-text-grey: #C9C9C9;
$color-white: #FFFFFF;
