@import '../utilities/variables';


.add-track__overlay {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, 0.7);
<<<<<<< HEAD
    visibility:"hidden";
    display: none;
=======
    visibility: hidden;
>>>>>>> e3c1c455e3627736f687fcdfdaa4a9a1a3da5034
}

.add-track-section {
    box-shadow: 0 18px 26px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:  0 18px 26px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:  0 18px 26px rgba(0, 0, 0, 0.6);  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-43%, -50%) scale(0);
    width: 600px;
    height: 350px;
    z-index: 11;
    background-color: $color-background-playlist;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
<<<<<<< HEAD
    opacity: 1; 
    visibility:"hidden";
    display: none;

=======
    opacity: 1;
    transition: .2s;
>>>>>>> e3c1c455e3627736f687fcdfdaa4a9a1a3da5034
}

.add-track__heading {
    align-self: flex-start;
    font-size: 1.8rem;
    margin-left: 3.7rem;
    margin-bottom: -2.2rem;
    color: $color-white;
    font-weight: bold;
}

.track__add-choices {
    width: 90%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track__add-option {
    cursor: pointer;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track__link {
    background-color: $color-background-chat;
    height: 30%;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    
}
.track__search {
    background-color: $color-background-chat;
    height: 30%;
    margin-right: 12px;
    display: flex;
    color: grey;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.track__talk {
    background-color: $color-background-chat;
    height: 30%;
    margin-right: 12px;
    display: flex;
    color: grey;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.track__link-form {
    width: 50%;
    height: 90%;
    background-color: $color-background-chat;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.track__text {
    margin-left: 20px;
    

}

#uri-input {
    width: 90%;
    height: 25px;
}

.track__link-form__heading {
    margin-top: 15px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.new_track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .field {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #uri-input {
        position: relative;
        width: 83%;
        height: 35px;
        background-color: $color-background-chat;
        color: white;
        border: none;
        border-bottom: 1px solid white;
    }

    #uri-input::placeholder {
        color: rgba(255, 255, 255, 0.363);
        position: absolute;
    }

    .add-track__action {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-bottom: 20px;
        background-color: $color-background-playlist;
    }
    .add-track__action-icon {
        position: absolute;
        margin-left: 16px;
        margin-top: 17px;
        color: $color-click;
    }

    #addtrack {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: $color-background-playlist;
        border: none;
        box-shadow: 0 3px 3px black;
        z-index: 11;
        opacity: 0;
        display: inline-block;
        transition: .3s ease-in;

        &:hover {
            opacity: .6;
        }
    }



}