@import '../utilities/variables';

.chat {
    width: 100%;
    height: 100%;
    background-color: #20262A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat__overflow {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.chat__heading {
    color: white;
    font-size: 25px;
    margin-left: 16px;
    padding-top: 20px;

}

.chat__img {
    width: 25px;
    height: 25px;
    background-color: #C9C9C9;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.chat__user {
    margin-left: 16px;
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chat__username {
    color: #26849A;
    font-weight: bolder;
    font-size: 0.9rem;
}

.chat__username--current {
    color: #A9DBA8;
}

.chat__message {
    font-size: 0.8rem;
    font-weight: lighter;
    color: #FFFFFF;
    margin-left: 57px;
    max-width: 80%;
    word-break: break-word;

}

.new_chatmessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%; 
    margin-top: auto;
    .field {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.chat__add {
    height: 30px;
    min-width: 95%;
    border-radius: 10px;
    display: inline-block;
    background-color: #384750;
    justify-self: flex-end;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    color: #26849A;
    padding-left: 20px;
    margin-top: 20px;
}

#chat {
    margin-bottom: 30px;
}

.style__hide {
    display: none;
    visibility: hidden;
}

.chat__overflow::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.chat__overflow {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

