@import '../base/fonts';

#player {
    position: absolute;
    right: 510px;
    top: 100px;
    width: calc(100vw - 860px);
    height: 360px;
}

#player__hider {
    position: absolute;
    right: 510px;
    top: 100px;
    width: calc(100vw - 860px);
    height: 360px;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: $rokkit;
        color: #A9DBA8;
        font-size: 2rem;
    }

    i {
        display: inline-block;
        color: #A9DBA8;
        font-size: 3rem;
    }
}