.content {
    background-color: #080808e5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.5rem;

    h2 {
        margin-top: 2rem;
        margin-left: 2rem;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1.5rem;
    }

    p {
        margin-left: .5rem;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1rem;
    }
}


.content_reactionbuttonline {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 1rem;
    left: 2rem;

    button {
        cursor: pointer;
        border: 0;
        border-radius: 100%;
        color: whitesmoke;
        height: 40px;
        width: 40px;
        background-color: #384750;
        margin-left: 7px;
        margin-right: 7px;
        i {
            color: #A9DBA8;
            font-size: 1rem;
        }
    }

    button:hover{
        background-color: #2a2828e5;
    }

    .counterleft-wrapper {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    
    .counterright-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
    .counter-box {
        margin-left: 10px;
        margin-right: 10px;
        background-color: black;
        border-radius: 10px;
        padding: 0 10px;
        font-size: 1.2rem;
    }
}


.player-complete {
    height: 450px;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #080808e5;
    border-radius: 8px;
}

.player-space {
    
    height: 80%;
    background-color: #384750;
    margin: auto;
    margin: 20px;
}

.action-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}
.userlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    margin: 20px 0;
    margin-top: 0;
    max-height: 400px;
    overflow-x: scroll;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        margin: auto;
        margin-bottom: 0;
        min-width: 100px;
    }

}

.userlist::-webkit-scrollbar {
    display: none;
}

#reaction-up {
    color: #A9DBA8;
    transition: all 0.5s ease-in;
    margin-bottom: 30px;
}

#reaction-down {
    color: #A9DBA8;
    transition: all 0.5s ease-in;
    margin-bottom: 30px;
}

#reaction-heart {
    transition: all 0.5s ease-in;
    margin-bottom: 30px;
}

#reaction-fire {
    transition: all 0.5s ease-in;
    margin-bottom: 30px;
}

.reactionLeftActive {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translate(10px, 60px);
}

.reactionRightActive {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translate(-10px, 60px);
}

.username {
    font-size: 1rem;
}

.presence-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.fa-heart {
    color: red;
}

.fa-fire-alt {
    color: orange;
}

.fa-thumbs-up{
    color: #C9C9C9;
}

.fa-thumbs-down {
    color: #C9C9C9;
}