@import '../utilities/variables';

.serverbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1C1C1C;


    a {
        position: relative;
        color: $color-click;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100% ;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $color-background-playlist;
        cursor: pointer; 
        margin-top: .5rem;
    }
}
.serverbar__home{
}
.serverbar__home-icon{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-55%);
}
.serverbar__dot {

}
.serverbar_add {
    margin: auto;
    justify-self: flex-end;
}
.serverbar__dot--active {
    border: 5px solid #A9DBA8;
}