@import '../utilities/variables';

.topbar {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: $color-background-playlist;

    a {
        font-size: 1.2rem;
        color: $color-click;
        margin-left: .2rem;
        &:nth-child(1) {
            margin-left: .2rem;
        }
    }
}
.topbar__user {
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    span {
        margin-left: .5rem;
        color: $color-white;
        font-weight: 600;
        font-size: 1rem;
    }
}
.topbar__userpic {
    height: 38px;
    width: 38px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}
.topbar__actions {
    margin-left: .5rem;
}

.subscribe-button{
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: $color-click;
    height: 40px;
    width: 100px;
    background-color: #1a1b1b;
    font-weight: bolder;
    margin-left: 800px;
}

.subscribe-button:hover{
    background-color: #2a2828e5;
}